<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/static/css/style.css" />
</head> 
<body>
    
    <main>
        <div class="flex col add-main-con-env">
            <div class="flex row add-c-c1">
                <div class="flex col add-619-c1-c1">
                    <div class="flex add-619-c1-c1-header">
                        <a>Add Item</a>
                    </div>
                    <div class="flex row add-619-c1-c1-c2-env">
                        <div class="flex col add-619-c1-c2-c1-foam-env">
                            <div class="flex col add-619-c1-c2-c1-foam">
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>Product name</a>
                                </div>
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>Category</a>
                                </div>
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>Sub-Category</a>
                                </div>
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>MRP</a>
                                </div>
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>Discount (in Percent)</a>
                                </div>
                                <div class="flex col add-619-c1-c2-c1-foam-box">
                                    <a>Upload Image</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex col add-619-c1-c2-c2-env">
                            <div class="flex add-619-c1-c2-c2-img-env">
                                <div class="flex add-619-c1-c2-c2-img">
                                    <a>PRODUCT IMG</a>
                                </div>
                            </div>
                            <div class="flex add-619-c1-c2-c2-button-env">
                                <div class="flex add-619-c1-c2-c2-button">
                                    <a>Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col add-823-env">
                    <div class="flex add-823-c1-box">
                        <a>Preview</a>
                    </div>
                    <div class="flex add-823-c2-env">
                        <div class="flex col add-itcon2-1">
                            <div class="flex home-itcon2-1-1-env">
                                <a>PRODUCT IMG</a>
                            </div>
                            <div class="flex row home-itcon2-1-2-env">
                                <div class="flex col itcon2-1-2-1-env">
                                    <div class="flex itcon2-1-2-1-1">
                                        <a>Amul Kool Protein Milkshake | 180ml</a>
                                    </div>
                                    <div class="flex itcon2-1-2-1-2">
                                        <a>MRP: Rs 80</a>
                                    </div>
                                </div>
                                <div class="flex col itcon2-1-2-2-env">
                                    <div class="flex itcon2-1-2-2-1">
                                        <a>Discount</a>
                                    </div>
                                    <div class="flex itcon2-1-2-2-2">
                                        <a>-34%</a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex row itcon2-1-3-env">
                                <div class="flex col itcon2-1-3-1-env">
                                    <h2>Rs 62</h2>
                                </div>
                                <div class="flex itcon2-1-3-2">
                                    <a>A</a>
                                </div>
                                <div class="flex itcon2-1-3-3">
                                    <a>Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col add-534-env">
                <div class="flex col add-534">
                    <div class="flex col add-534-733-env">
                        <div class="flex row add-534-733-c1-header-env">
                            <div class="flex add-534-733-c1-header">
                                <a>Listed Items</a>
                            </div>
                            <div class="flex add-534-733-c1-header-button">
                                <a>X</a>
                            </div>
                        </div>
                        <div class="flex row add-534-733-c2">
                                <div class="flex add-534-733-c2-c1-img-env">
                                    <a>PRODUCT IMG</a>
                                </div>
                                <div class="flex add-534-733-c2-c2-env">
                                    <a>Amul Whey protein pack | 32g</a>
                                </div>
                                <div class="flex row add-534-733-c2-c3-env">
                                    <div class="flex col add-534-733-c2-c3-c1">
                                        <a>Category</a>
                                        <a>Sub-Category</a>
                                        <a>MRP</a>
                                        <a>Discount</a>
                                        <a>Added on</a>
                                        <a>Status</a>
                                    </div>
                                    <div class="flex col add-534-733-c2-c3-c2">
                                        <a>Groceries</a>
                                        <a>Packed Food</a>
                                        <a>Rs103</a>
                                        <a>-37%</a>
                                        <a>March 15, Sat</a>
                                        <a>Verified</a>
                                    </div>
                                </div>
                                <div class="flex col add-534-733-c2-c4-env">
                                    <div class="flex add-534-733-c2-c4-box">
                                        <a>Unlist</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="flex col add-534-733-env">
                        <div class="flex row add-534-733-c1-header-env">
                            <div class="flex add-534-733-c1-header">
                                <a>Unlisted Items</a>
                            </div>
                            <div class="flex add-534-733-c1-header-button">
                                <a>X</a>
                            </div>
                        </div>
                        <div class="flex row add-534-733-c2">
                                <div class="flex add-534-733-c2-c1-img-env">
                                    <a>PRODUCT IMG</a>
                                </div>
                                <div class="flex add-534-733-c2-c2-env">
                                    <a>Amul Whey protein pack | 32g</a>
                                </div>
                                <div class="flex row add-534-733-c2-c3-env">
                                    <div class="flex col add-534-733-c2-c3-c1">
                                        <a>Category</a>
                                        <a>Sub-Category</a>
                                        <a>MRP</a>
                                        <a>Discount</a>
                                        <a>Added on</a>
                                        <a>Status</a>
                                    </div>
                                    <div class="flex col add-534-733-c2-c3-c2">
                                        <a>Groceries</a>
                                        <a>Packed Food</a>
                                        <a>Rs103</a>
                                        <a>-37%</a>
                                        <a>March 15, Sat</a>
                                        <a>Verified</a>
                                    </div>
                                </div>
                                <div class="flex col add-534-733-c2-c4-env-1">
                                    <div class="flex add-534-733-c2-c4-button-1-env">
                                        <div class="flex add-534-733-c2-c4-button-1".>
                                            <a>X</a>
                                        </div>
                                    </div>
                                    <div class="flex col add-534-733-c2-c4-button-2-env">
                                        <div class="flex add-534-733-c2-c4-box">
                                            <a>List</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="flex col add-534-733-env">
                        <div class="flex row add-534-733-c1-header-env">
                            <div class="flex add-534-733-c1-header">
                                <a>Added Items</a>
                            </div>
                            <div class="flex add-534-733-c1-header-button">
                                <a>X</a>
                            </div>
                        </div>
                        <div class="flex row add-534-733-c2">
                                <div class="flex add-534-733-c2-c1-img-env">
                                    <a>PRODUCT IMG</a>
                                </div>
                                <div class="flex add-534-733-c2-c2-env">
                                    <a>Amul Whey protein pack | 32g</a>
                                </div>
                                <div class="flex row add-534-733-c2-c3-env">
                                    <div class="flex col add-534-733-c2-c3-c1">
                                        <a>Category</a>
                                        <a>Sub-Category</a>
                                        <a>MRP</a>
                                        <a>Discount</a>
                                        <a>Added on</a>
                                        <a>Status</a>
                                    </div>
                                    <div class="flex col add-534-733-c2-c3-c2">
                                        <a>Groceries</a>
                                        <a>Packed Food</a>
                                        <a>Rs103</a>
                                        <a>-37%</a>
                                        <a>March 15, Sat</a>
                                        <a>Not Verified</a>
                                    </div>
                                </div>
                                <div class="flex col add-534-733-c2-c4-env-1">
                                    <div class="flex add-534-733-c2-c4-button-1-env">
                                        <div class="flex add-534-733-c2-c4-button-1".>
                                            <a>X</a>
                                        </div>
                                    </div>
                                    <div class="flex col add-534-733-c2-c4-button-2-env">
                                        <div class="flex add-534-733-c2-c4-box">
                                            <a>Edit</a>
                                        </div>
                                        <div class="flex add-534-733-c2-c4-box">
                                            <a>Verify</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
</body>
</html>