
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper</title>
    <link rel="stylesheet" href="../../public/static/css/style.css" />
</head>
<body>
    <header class ="flex">
        <div class="flex headercontainerenv">
            <div class="flex headercontainerone">
                <div class="headeritem">
                    <a>Home</a></div></div>
            <div class="flex headercontainertwo">
                <div class="headeritem">
                    <a>Search</a></div>
                <div class="headeritem">
                    <a>Log In</a></div></div></div></header>
    <main class="flex col">
        <div class="flex row main-con1-env">
            <div class="flex col main-con1-itcon1">
                <div class="itcon1-item">
                    <img src="../../public/media/kiwi/Rich-Chocolate.jpg" alt="Rich-Chocolate">
                </div></div>
            <div class="flex col main-con1-itcon2">
                <div class="flex row itcon2-itcon1">   
                    <div class="flex itcon2-itcon1-1">
                        <a>Sign in</a></div>
                    <div class="flex itcon2-itcon1-2">
                        <a>Sign Up</a></div></div>
                <div class="flex col itcon2-itcon2">
                    <div class="flex itcon2-itcon2-1">
                        <a>Username</a></div>
                    <div class="flex itcon2-itcon2-2">
                        <a>Password</a></div></div>
                <div class="flex row itcon2-itcon3">
                        <div class="flex itcon2-itcon3-1">
                            <a>Sign In</a></div></div></div></div>
        <div class="flex row main-con2-env">
            <div class="flex col main-con2-con1">
                <div class="flex row main-con2-con1-itcon1">
                    <div class="flex itcon1-1">
                        <a>Amul Products</a></div>
                    <div class="flex itcon1-2">
                        <a>A</a>
                    </div>
                </div>
                <div class="flex row main-con2-con1-itcon2">
                    <div class="flex col home-itcon2-1">
                        <div class="flex home-itcon2-1-1-env">
                            <img src="../../public/media/amul/amul-kool-protein-chocolate.avif" alt="Rich-Chocolate">
                        </div>
                        <div class="flex row home-itcon2-1-2-env">
                            <div class="flex col itcon2-1-2-1-env">
                                <div class="flex itcon2-1-2-1-1">
                                    <a>Amul Kool Protein Milkshake | 180ml</a>
                                </div>
                                <div class="flex itcon2-1-2-1-2">
                                    <a>MRP: Rs 80</a>
                                </div>
                            </div>
                            <div class="flex col itcon2-1-2-2-env">
                                <div class="flex itcon2-1-2-2-1">
                                    <a>Discount</a>
                                </div>
                                <div class="flex itcon2-1-2-2-2">
                                    <a>-34%</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex row itcon2-1-3-env">
                            <div class="flex col itcon2-1-3-1-env">
                                <h2>Rs 62</h2>
                            </div>
                            <div class="flex itcon2-1-3-2">
                                <a>A</a>
                            </div>
                            <div class="flex itcon2-1-3-3">
                                <a>Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            
    </main>
    <footer></footer>
    <script src=""></script>
</body>
</html>