
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/static/css/style.css" />
</head>
<body>
    <header class ="flex">
        <div class="flex headercontainerenv">
            <div class="flex headercontainerone">
                <div class="headeritem">
                    <a>Back</a></div></div></div></header>
    <main>
        <div class="cart-main-con-env">
            <div class="flex col cart-con">
                <div class="flex row cart-con1-env">
                    <div class="flex cart-con-con1">
                        <a>Cart</a>
                    </div>
                </div>
                <div class="flex col cart-con2-env">
                    <div class="flex row cart-con2-con1">
                        <div class="flex cart-con2-con1-1-img-env">
                            <a>PRODUCT IMG</a>
                        </div>
                        <div class="flex col cart-con2-con1-2">
                            <div class="flex row cart-con2-con1-2-1">
                                <a>Hershley's Choco Syrup</a>
                            </div>
                            <div class="flex row cart-con2-con1-2-2-env">
                                <div class="flex row cart-con2-con1-2-2-1-env">
                                    <div class="flex cart-con2-con1-2-2-1-1">
                                        <div class="flex cart-con2-con1-2-2-1-1-button">
                                            <a>-</a>
                                        </div>
                                    </div>
                                    <div class="flex cart-con2-con1-2-2-1-2"><a>2</a></div>
                                    <div class="flex cart-con2-con1-2-2-1-1">
                                        <div class="flex cart-con2-con1-2-2-1-1-button">
                                            <a>+</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex cart-con2-con1-2-2-2">
                                    <a>x</a>
                                </div>
                                <div class="flex cart-con2-con1-2-2-3">
                                    <a>Rs 250</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex col cart-con2-con1-3-env">
                            <div class="flex row cart-con2-con1-3-1-env">
                                <div class="flex cart-con2-con1-3-1-1-button">
                                    <a>X</a>
                                </div>
                            </div>
                            <div class="flex row cart-con2-con1-3-2-env">
                                <a>Rs 468</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col cart-con3-env">
                    <div class="flex row cart-con3-1">
                        <a>Platform Fee</a>
                        <a>10</a>
                    </div>
                    <div class="flex row cart-con3-1">
                        <a>Shipping Fee (Add items worth Rs32 for Free shipping)</a>
                        <a>40</a>
                    </div>
                    <div class="flex row cart-con3-2">
                        <h3>Total</h3>
                        <h2>Rs 206</h2>
                    </div>
                    <div class="flex row cart-con3-2-env">
                        <div class="flex cart-con3-2-button">
                            <a>Proceed</a>
                        </div>
                    </div>
                </div>
                <div class="flex col cart-con4-env">
                    <div class="flex row cart-con4-1">
                        <a>Customers also searched for</a>
                    </div>
                    <div class="flex row cart-con4-2">
                        <div class="flex col cart-itcon2-1">
                            <div class="flex cart-itcon-head-env">
                                <div class="flex cart-itcon-head">
                                    <a>12 People Wishlisted</a>
                                </div>
                            </div>
                            <div class="flex home-itcon2-1-1-env">
                                <a>PRODUCT IMG</a>
                            </div>
                            <div class="flex row home-itcon2-1-2-env">
                                <div class="flex col itcon2-1-2-1-env">
                                    <div class="flex itcon2-1-2-1-1">
                                        <a>Amul Kool Protein Milkshake | 180ml</a>
                                    </div>
                                    <div class="flex itcon2-1-2-1-2">
                                        <a>MRP: Rs 80</a>
                                    </div>
                                </div>
                                <div class="flex col itcon2-1-2-2-env">
                                    <div class="flex itcon2-1-2-2-1">
                                        <a>Discount</a>
                                    </div>
                                    <div class="flex itcon2-1-2-2-2">
                                        <a>-34%</a>
                                    </div>
                                </div>
                            </div>
                            <div class="flex row itcon2-1-3-env">
                                <div class="flex col itcon2-1-3-1-env">
                                    <h2>Rs 62</h2>
                                </div>
                                <div class="flex itcon2-1-3-3">
                                    <a>Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>