<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/static/css/style.css" />
</head> 
<body>
    <header class ="flex">
        <div class="flex headercontainerenv">
            <div class="flex headercontainerone">
                <div class="headeritem">
                    <a>Back</a></div></div>
            </div></header>
    <main>
        <div class="itdesc-main">
            <div class="flex col itdesc-main-con">
                <div class="flex row itdesc-con-con1">
                    <a>Grocery > Consumables</a>
                </div>
                <div class="flex row itdesc-con-con2-env">
                    <div class="flex col itdesc-con-con2-con1-1">
                        <div class="flex row itdesc-con-con2-con1-1-1-img-env">
                            <a>PRODUCT IMG</a>
                        </div>
                        <div class="flex row itdesc-con-con2-con1-1-2-buttons-env">
                            <div class="flex itdesc-con-con2-con1-1-button-1">
                                <a>Add to Cart</a>
                            </div>
                            <div class="flex itdesc-con-con2-con1-1-button-2">
                                <a>Buy</a>
                            </div>
                        </div>
                    </div>
                    <div class="flex col itdesc-con-con2-con2">
                        <div class="flex col itdesc-con-con2-con2-1-env">
                            <div class="itdesc-con-con2-con2-1"><h5>Hershley's Chocho Syrup | 180ml</h5></div>
                            <div class="itdesc-con-con2-con2-1"><h3>MRP: Rs390</h3></div>
                        </div>
                        <div class="flex row itdesc-con-con2-con2-2-env">
                            <div class="flex col itdesc-con-con2-con2-2-1-env">
                                <div class="flex itdesc-con-con2-con2-2-1-1">
                                    <a>Rs 234</a>
                                </div>
                                <div class="flex itdesc-con-con2-con2-2-1-2">
                                    <a>-34%</a>
                                </div> 
                            </div>
                            <div class="flex itdesc-con-con2-con2-2-2-env">
                                <a>In Stock</a>
                            </div>
                        </div>
                        <div class="flex col itdesc-con-con2-2-env">
                            <div class="flex itdesc-con-con2-2-1">
                                <a>Description</a>
                            </div>
                            <div class="flex itdesc-con-con2-2-2">
                                <p>A classic, rich chocolate flavor that goes
                                    brilliantly with everything! HERSHEY'S 
                                    Chocolate Flavored SYRUP is the perfect 
                                    partner for your snacking ventures.Add 
                                    the chocolatey twist to every sweet dish.</p>
                            </div>
                        </div>
                        <div class="flex col itdesc-con-con2-3-env">
                            <div class="flex itdesc-con-con2-3-1">
                                <a>General</a>
                            </div>
                            <div class="flex col itdesc-con-con2-3-2-env">
                                <div class="flex itdesc-con-con2-3-2-1">
                                    <h4>Brand</h4>
                                    <h5>Hershley</h5>
                                </div>
                                <div class="flex itdesc-con-con2-3-2-1">
                                    <h4>Flavour</h4>
                                    <h5>Chocolate</h5>
                                </div>
                                <div class="flex itdesc-con-con2-3-2-1">
                                    <h4>Diet Type</h4>
                                    <h5>Vegetarian</h5>
                                </div>
                                <div class="flex itdesc-con-con2-3-2-1">
                                    <h4>Net Quantity</h4>
                                    <h5>1300gm</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>