<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/static/css/style.css" />
</head> 
<body>
    <header class ="flex">
        <div class="flex headercontainerenv">
            <div class="flex headercontainerone">
                <div class="headeritem">
                    <a>Back</a></div></div></div></header>
    <main>
        <div class="flex col panel-con">
            <div class="flex col panel-873">
                <div class="flex panel-873-con1-env">
                    <div class="flex panel-873-con1-1">
                        <a>User Accounts</a>
                    </div>
                    <div class="flex panel-873-con1-2">
                        <a>S</a>
                    </div>
                </div>
                <div class="flex col panel-873-con2-env">
                    <div class="flex row panel-873-con2">
                        <div class="flex row panel-873-con2-env-1">
                            <div class="flex panel-873-con2-1">
                                <a>1</a>
                            </div>
                            <div class="flex panel-873-con2-2">
                                <a>James Cook</a>
                            </div>
                        </div>
                        <div class="flex row panel-873-con2-env-2">
                            <div class="flex panel-873-con2-3">
                                <a>Make Admin</a>
                            </div>
                            <div class="flex panel-873-con2-4">
                                <a>X</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col panel-873-con2-env">
                    <div class="flex row panel-873-con2">
                        <div class="flex row panel-873-con2-env-1">
                            <div class="flex panel-873-con2-1">
                                <a>1</a>
                            </div>
                            <div class="flex panel-873-con2-2">
                                <a>James Cook</a>
                            </div>
                        </div>
                        <div class="flex row panel-873-con2-env-2">
                            <div class="flex panel-873-con2-3">
                                <a>Make Admin</a>
                            </div>
                            <div class="flex panel-873-con2-4">
                                <a>X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col panel-873">
                <div class="flex panel-873-con1-env">
                    <div class="flex panel-873-con1-1">
                        <a>Admins</a>
                    </div>
                    <div class="flex panel-873-con1-2">
                        <a>S</a>
                    </div>
                </div>
                <div class="flex col panel-873-con2-env">
                    <div class="flex row panel-873-con2">
                        <div class="flex row panel-873-con2-env-1">
                            <div class="flex panel-873-con2-1">
                                <a>1</a>
                            </div>
                            <div class="flex panel-873-con2-2">
                                <a>James Cook</a>
                            </div>
                        </div>
                        <div class="flex row panel-873-con2-env-2">
                            <div class="flex panel-873-con2-3">
                                <a>Revoke Admin</a>
                            </div>
                            <div class="flex panel-873-con2-4">
                                <a>X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex col panel-873">
                <div class="flex panel-873-con1-env">
                    <div class="flex panel-873-con1-1">
                        <a>User Accounts</a>
                    </div>
                    <div class="flex panel-873-con1-2">
                        <a>S</a>
                    </div>
                </div>
                <div class="flex col panel-873-con2-env">
                    <div class="flex row panel-873-con2">
                        <div class="flex row panel-873-con2-env-1">
                            <div class="flex panel-873-con2-1">
                                <a>1</a>
                            </div>
                            <div class="flex panel-873-con2-2">
                                <a>James Cook</a>
                            </div>
                        </div>
                        <div class="flex row panel-873-con2-env-2">
                            <div class="flex panel-873-con2-4">
                                <a>X</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>