header {
    width: 100%;
    padding: 15px 21px;
    position: fixed;
    z-index: 3;
}

.headercontainerenv {
    width: 100%;
    padding: 5px;
    background-color: var(--header-background);
    border-radius: 3px;
}

.headercontainerone, .headercontainertwo {
    flex: 1 1 auto;
    gap: 15px;
}
.headercontainerone {
    height: 30px;
    justify-content: start;
}

.headercontainertwo {
    justify-content: end;
}

.headeritem {
    display: flex;
    width: auto;
    aspect-ratio: 2/1;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    text-decoration: none;
    background-color: var(--color-quaternary);
    border-radius: 3px;
}