/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* Style CSS */
@import "box.css";
@import "header.css";
@import "main.css";
@import "maincon1.css";
@import "maincon2.css";
@import "itdesc.css";
@import "cart.css";

:root {
/* Colors */
    --color-primary: #EFE6B5;
    --color-secondary: #ED7C56;
    --color-tertiary: #874040;
    --color-quaternary: #3E2C36;
    --color-quinary: #3C4547;
/* Google Font */
    --font-weight-1: 200;
    --font-weight-2: 300;
    --font-weight-3: 400; 
    --font-weight-4: 600;
    --font-weight-5: 700;
    --font-weight-6: 900;
/* Header */
    --header-background: var(--color-secondary);
/* Main */
    /* Header */
    --main-header-card-backcolor: ;
    --main-header-card-color: ;
    --main-header-card-color: ;
    /* Home Card */
    --main-con1-itcon1-bg: var(--color-primary);
    --main-con1-itcon2-bg: var(--color-secondary);
    --main-con1-itcon2-itcon1_itcon2_itcon3-bg: var(--color-primary);
    --main-con1-itcon2-itcon1_itcon2_itcon3-clr: var(--color-quaternary);
    --main-con2-itcon1-bg: var(--color-primary);
    --main-con2-con1-itcon1-bg: var(--color-secondary);
    --main-con2-con1-itcon1-clr: var(--color-quaternary);
    --main-con2-con1-itcon2-bg: var(--color-quaternary);
    --main-con2-con1-itcon2-clr: var(--color-primary);
    --main-con2-con1-itcon2-1-bg: var(--color-secondary);
    --main-con2-con2-itcon2-1-3-2-bg: var(--color-primary);
    --main-con2-con2-itcon2-1-3-2-clr: var(--color-quaternary);
    --main-con2-con2-itcon2-1-3-3-bg: var(--color-quaternary);
    --main-con2-con2-itcon2-1-3-3-clr: var(--color-primary);
    /* ItemDesc */
    --itdesc-main-con-bg: var(--color-primary);
    --itdesc-con-common-clr: var(--color-quaternary);
    --itdesc-con-con2-1-1-img-bg: var(--color-secondary);
    --itdesc-con-con2-1-button-bg: var(--color-quaternary);
    --itdesc-con-con2-1-button-clr: var(--color-primary);
    /* Cart */
    --cart-main-con-bg: var(--color-primary);
    --cart-con-con1-bg: var(--color-secondary);
    --cart-con-con1-clr: var(--color-quaternary);
    --cart-con2-con1-bg: var(--color-secondary);
    --cart-con2-con1-3-1-1-button-bg: var(--color-primary);
    --cart-con2-con1-3-1-1-button-clr: var(--color-quaternary);
    --cart-con3-2-button-bg: var(--color-quaternary);
    --cart-con3-2-button-clr: var(--color-primary);
    --cart-itcon-header-bg: var(--color-primary);
    --cart-itcon-header-clr: var(--color-quaternary);
}   

body {
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: var(--color-quinary);
    font-family: "Titillium Web", sans-serif;
}

* {
    box-sizing: border-box;
}


